<!-- style file: 'assets/styles/partials/integration-partners/integration-partners.scss' -->

<div class="integration-partners">
    <h1 class="heading">Integration Partners</h1>
    <p class="description">Lorem Ipsum is simply dummy text for the printing and typesetting industry</p>

    <ul class="partners">
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-google-calendar.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-facebook.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-salesforce.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-mail-chimp.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-pay-pal.png" alt="#"/>
            </div>
        </li>
         <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-slack.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-eloqua.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-zendesk.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-woo-commerce.png" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="img/logo-int-pipedrive.png" alt="#"/>
            </div>
        </li>
    </ul>

    <button class="full-list-button">See Full List</button>
</div>