<!-- style file: 'assets/styles/partials/integration-partners/integration-partners.scss' -->

<div class="integration-partners">
    <h1 class="heading">Integration Partners</h1>
    <p class="description">Lorem Ipsum is simply dummy text for the printing and typesetting industry</p>

    <ul class="partners">
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
         <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
        <li class="partner">
            <div class="partner-card">
                <img src="#" alt="#"/>
            </div>
        </li>
    </ul>

    <button class="full-list-button">See Full List</button>
</div>