.clients {
  padding: $spacing-md 0;

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;

    margin-left: -$spacing-xs;
    margin-right: -$spacing-xs;

    .list-item {
      width: calc(100% / 7);
      padding: $spacing-xs;

      img {
        min-width: 100%;
        min-height: 50px;
        background: black;
      }
    }
  }
}
