.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-lg;

  .logo {
    width: auto;
    height: 32px;
  }

  .copyright {
    @extend .text;
    @extend .text--white;
    @extend .text--sm;
  }
}
