<!-- style file: 'assets/styles/partials/clients/clients.scss' -->

<div class="clients">
    <ul class="list">
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
        <li class="list-item">
            <img src="#" alt="#"/>
        </li>
    </ul>
</div>