<!-- style file: 'assets/styles/partials/clients/clients.scss' -->

<div class="clients">
    <ul class="list">
        <li class="list-item">
            <img src="img/burberry.jpg" alt="#"/>
        </li>
        <li class="list-item">
            <img src="img/sofitel.jpg" alt="#"/>
        </li>
        <li class="list-item">
            <img src="img/mercedes-benz.jpg" alt="#"/>
        </li>
        <li class="list-item">
            <img src="img/pandora.jpg" alt="#"/>
        </li>
        <li class="list-item">
            <img src="img/tedx.jpg" alt="#"/>
        </li>
        <li class="list-item">
            <img src="img/uber.jpg" alt="#"/>
        </li>
        <li class="list-item">
            <img src="img/redbull.jpg" alt="#"/>
        </li>
    </ul>
</div>