<!-- style file: 'assets/styles/partials/statistics/statistics.scss' -->

<div class="statistics">
    <ul class="list">
        <li class="list-item">
            <h1 class="heading">20,000+</h1>
            <p class="subheading">Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
        </li>
        <li class="list-item">
            <h1 class="heading">900M+</h1>
            <p class="subheading">Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
        </li>
        <li class="list-item">
            <h1 class="heading">100%</h1>
            <p class="subheading">Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
        </li>
        <li class="list-item">
            <h1 class="heading">1,000+</h1>
            <p class="subheading">Lorem Ipsum is dummy text for the printing and typesetting industry.</p>
        </li>
    </ul>
</div>