<!-- style file: 'assets/styles/partials/premium-features/premium-features.scss' -->

<div class="premium-features">
    <h1 class="heading">Premium Features</h1>
    <p class="description">Lorem Ipsum is simply dummy text for the printing and typesetting industry</p>

    <table class="features-table">
        <tr>
            <th>Column #1</th>
            <th>Column #2</th>
            <th>Column #3</th>
            <th>Column #4</th>
            <th>Column #5</th>
        </tr>
        <tr>
            <td>Feature #1</td>
            <td>Feature #1</td>
            <td>Feature #1</td>
            <td>Feature #1</td>
            <td>Feature #1</td>
        </tr>
        <tr>
            <td>Feature #2</td>
            <td>Feature #2</td>
            <td>Feature #2</td>
            <td>Feature #2</td>
            <td>Feature #2</td>
        </tr>
        <tr>
            <td>Feature #3</td>
            <td>Feature #3</td>
            <td>Feature #3</td>
            <td>Feature #3</td>
            <td>Feature #3</td>
        </tr>
        <tr>
            <td>Feature #4</td>
            <td>Feature #4</td>
            <td>Feature #4</td>
            <td>Feature #4</td>
            <td>Feature #4</td>
        </tr>
        <tr>
            <td>Feature #5</td>
            <td>Feature #5</td>
            <td>Feature #5</td>
            <td>Feature #5</td>
            <td>Feature #5</td>
        </tr>
        <tr>
            <td>Feature #6</td>
            <td>Feature #6</td>
            <td>Feature #6</td>
            <td>Feature #6</td>
            <td>Feature #6</td>
        </tr>
    </table>
</div>