<!-- style file: 'assets/styles/partials/roles/roles.scss' -->

<div class="roles">
    <h1 class="heading">Messaging solutions for every role</h1>

    <ul class="list">
        <li class="list-item">
            <img src="#" alt="#" class="logo">
            <h3 class="item-heading">Sales & Marketing</h3>
            <p class="item-description">Lorem Ipsum is dummy text for the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s.</p>
        </li>
        <li class="list-item">
            <img src="#" alt="#" class="logo">
            <h3 class="item-heading">Communications</h3>
            <p class="item-description">Lorem Ipsum is dummy text for the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s.</p>
        </li>
        <li class="list-item">
            <img src="#" alt="#" class="logo">
            <h3 class="item-heading">Operations</h3>
            <p class="item-description">Lorem Ipsum is dummy text for the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s.</p>
        </li>
        <li class="list-item">
            <img src="#" alt="#" class="logo">
            <h3 class="item-heading">Development</h3>
            <p class="item-description">Lorem Ipsum is dummy text for the printing and typesetting industry. Lorem Ipsum has been industry's standard dummy text ever since the 1500s.</p>
        </li>
    </ul>
</div>