@import './globals/globals';
@import './partials/header/header';
@import './partials/heroshot/heroshot';
@import './partials/clients/clients';
@import './partials/statistics/statistics';
@import './partials/divider/divider';
@import './partials/roles/roles';
@import './partials/features/features';
@import './partials/premium-features/premium-features';
@import './partials/integration-partners/integration-partners';
@import './partials/action-heroshot/action-heroshot';
@import './partials/footer/footer';

.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.integration-partners-wrapper {
  @extend .bg--washed;
}

.action-heroshot-wrapper {
  background-color: #0ac0ea;
  background-image: url('/img/footer-cuts.png');
  background-size: cover;
}

.footer-wrapper {
  @extend .bg--blue;
}
