@import './globals/globals';
@import './partials/header/header';
@import './partials/heroshot/heroshot';
@import './partials/clients/clients';
@import './partials/statistics/statistics';
@import './partials/divider/divider';
@import './partials/roles/roles';
@import './partials/features/features';

.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
