{{ define "header" }}
    <div class="header-wrapper">
        {{ partial "header/header" }}
    </div>
{{ end }}

{{ define "main" }}
    <div class="heroshot-wrapper">
        {{ partial "heroshot/heroshot" }}
    </div>

    <div class="clients-wrapper bg--washed">
        <div class="container">
            {{ partial "clients/clients" }}
        </div>
    </div>

    <div class="container">
        {{ partial "statistics/statistics" }}
    </div>

    {{ partial "divider/divider" }}

    <div class="container">
        {{ partial "roles/roles" }}
    </div>

    {{ partial "divider/divider" }}

    {{ partial "features/features" }}

    {{ partial "divider/divider" }}

    <div class="container">
        {{ partial "premium-features/premium-features" }}
    </div>

    <div class="integration-partners-wrapper">
        <div class="container">
            {{ partial "integration-partners/integration-partners" }}
        </div>
    </div>

    <div class="action-heroshot-wrapper">
        <div class="container">
            {{ partial "action-heroshot/action-heroshot" }}
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="container">
            {{ partial "footer/footer" }}
        </div>
    </div>
{{ end }}
