{{ define "header" }}
    <div class="header-wrapper">
        {{ partial "header/header" }}
    </div>
{{ end }}

{{ define "main" }}
    <div class="heroshot-wrapper">
        {{ partial "heroshot/heroshot" }}
    </div>

    <div class="clients-wrapper bg--washed">
        <div class="container">
            {{ partial "clients/clients" }}
        </div>
    </div>

    <div class="container">
        {{ partial "statistics/statistics" }}
    </div>

    <div class="divider"></div>
{{ end }}
