// Buttons
.button {
  // Defaults
  padding: $spacing-sm $spacing-lg;
  border: 0;
  min-width: 180px;

  // Sizes
  &--lg {
    padding: $spacing-sm $spacing-sm;
    min-width: 220px;
    font-size: $font-md;
  }

  // Colors
  &--primary {
    background-color: #136093;
    color: $white;
  }

  &--secondary {
    background-color: $cyan;
    color: $white;
  }

  &--tertiary {
    background-color: #1774d7;
    color: $white;
  }

  // style
  &--rounded {
    border-radius: 4px;
  }
}

// Text
.text {
  // Defaults
  font-weight: 400;

  // Colors
  &--default {
    color: #696969;
  }

  &--primary {
    color: #136093;
  }

  &--secondary {
    color: #044165;
  }

  &--tertiary {
    color: $cyan;
  }

  &--inactive {
    color: #cbcbcb;
  }

  &--white {
    color: #fff;
  }

  &--black {
    color: #000;
  }

  // Sizes
  &--xxl {
    font-size: $font-xxl;
  }

  &--xl {
    font-size: $font-xl;
  }

  &--lg {
    font-size: $font-lg;
  }

  &--md {
    font-size: $font-md;
  }

  &--sm {
    font-size: $font-sm;
  }

  // Styles
  &--bold {
    font-weight: 700;
  }

  &--semibold {
    font-weight: 500;
  }
}

.bg {
  &--washed {
    background-color: #f2f2f2;
  }

  &--white {
    background-color: #ffffff;
  }

  &--blue {
    background-color: #1774d7;
  }

  &--cyan {
    background-color: $cyan;
  }
}

// Shadows
.shadows {
  &--default {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
