// Spacings
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;

// Font sizes
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl: 48px;
