// Spacings
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xxl: 64px;

// Font sizes
$font-xs: 14px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;
$font-xxl: 48px;

// Colors
$white: #fff;
$blue: #1774d7;
$cyan: #2dd8d1;
$gray-100: #f2f2f2;
$gray-150: #f7f7f7;
$gray-200: #cbcbcb;
