<!-- style file: 'assets/styles/partials/features/features.scss' -->

<div class="features">
    <div class="navigation-arrows">
        <button class="previous">
            <img src="#" alt="#">
        </button>
        <button class="next">
            <img src="#" alt="#">
        </button>
    </div>

    <div class="container">
        <h1 class="heading">
            Send messages online or via our SMS API
        </h1>

        <ul class="tabs">
            <li class="tab-item"><button class="tab-button active">Tab #1</button></li>
            <li class="tab-item"><button class="tab-button">Tab #2</button></li>
            <li class="tab-item"><button class="tab-button">Tab #3</button></li>
            <li class="tab-item"><button class="tab-button">Tab #4</button></li>
        </ul>

        <div class="feature">
            <div class="image-container">
                <img src="#" alt="#" class="image">
            </div>
            <div class="feature-details">
                <h3 class="feature-heading">Spice up your platform</h3>
                <p class="feature-description">Just your basic Lorem Ipsum</p>
                <ul class="feature-list">
                    <li class="feature-item">Don't forget to add the custom bullets</li>
                    <li class="feature-item">Also don't forget to follow the font styles</li>
                    <li class="feature-item">This is a bullet test</li>
                    <li class="feature-item">This is a bullet test</li>
                    <li class="feature-item">This is a bullet test</li>
                </ul>
                <button class="feature-button">Learn More</button>
            </div>
        </div>
    </div>
</div>